<html>
    <body>
        <h1> <%= pelicula.title %> </h1>
        <ul>
            <li> Premios: <%= pelicula.awards %> </li>
            <li> Duración: <%= pelicula.length %> minutos </li>
            <li> Fecha de Estreno: <%= pelicula.release_date %> </li>
        </ul>
    </body>
</html>