<html>
    <body>
        <h1> <%= pelicula.title %> </h1>
        <ul>
            <li> Premios: <%= pelicula.awards %> </li>
            <li>
                <% if (pelicula.length != null) { %>
                    Duración: <%= pelicula.length %> minutos
                <% } else { %>
                    Duración: Desconocida
                <% } %>
            </li>
            <li> Fecha de Estreno: <%= pelicula.release_date %> </li>
        </ul>
    </body>
</html>