<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="container-fluid">
    <form action="" method="POST">
        <label for="buscar"></label>
        <input type="search" name="buscar" id="">

        <input type="submit" value="Buscar">
    </form>
    <%- include('./partials/scriptsBootstrap') %>
</body>
</html>