<html>
    <body>
        <form action="" method="POST">
            <label for="buscar"></label>
            <input type="search" name="buscar" id="">

            <input type="submit" value="Buscar">
        </form>
    </body>
</html>